@import url('https://fonts.googleapis.com/css2?family=Acme&family=Unbounded:wght@800&display=swap');
*{
    margin: 0 !important;
    padding: 0 !important;
    font-family: Bahnschrift SemiBold !important;
}
body{
    background-color: #9FBDF2 !important;
    padding: 0 !important;
}
ul{
    list-style: none !important;
}
nav{
    width: 100% !important;
    background-color: #3B4346 !important; 
    background-image: url(imagenes/002f0825-efc1-489c-83cc-6a396b94ad08.jfif) !important;
    background-repeat: no-repeat !important;
    background-size: 100px !important;
    margin-bottom: 10px !important;
    padding-left: 100px !important;
    height: 100px !important;
}
nav li a{
    color:#9FBDF2 !important;
    text-decoration: none !important;
    display: block !important ;
    padding: 10px 15px !important;
    margin-top: 30px !important;
}
nav > ul > li{
    float: left !important;
}
nav li a:hover{
    color:#ffffff !important;
}
#Contenido div{
    border: 1px solid #3B4346 !important;
    border-radius: 10px !important;
    padding: 10px !important;
    overflow: auto !important;
    height: 180px !important;
    margin: 10px !important;
}
h3{
    background-image: url(imagenes/16363.png) !important;
    background-size: 10px !important;
    background-repeat: no-repeat !important;
    background-position-y: 10px !important;
    padding-left: 15px !important;
}
#Contenido p{
    background-color: white !important;
    border: 1px solid black !important;
    height: 75px !important;
    overflow: auto !important;
    padding: 5px !important;
    border-radius: 10px !important;
}
fieldset{
    padding: 10px !important;
    width: 450px !important;
}
#ReseñaTexto{
    width: 240px !important;
    height: 100px !important;
    overflow: auto !important;
}
.clearfix{
    clear: both !important;
} 

/* --------------------- ESTILOS DEL FOOTER ---------------------------------------- */
footer{
    color: #9fbdf2;
    background-color: #3b4346;
    font-family: bahnschrift Semibold;
  }
  
  /*----------TITULO DE LOS LI DEL FOOTER-----------------------------------------------*/
  .TituloFooter{
    font-family: 'Unbounded', cursive;
    font-style: oblique;
    color:#ffffff;
    /* text-shadow: 1px 1px#9fbdf2; */
  }
  
  /* ------------------------ESTILO PARA EL NOMBRE DEL TEAM FOOTER--------------------------*/
  .NombreTeam{
    font-family: 'Unbounded', cursive;
    color:#ffffff;
  }