*{
    margin: 0;
    padding: 0;
    font-family: Bahnschrift SemiBold;
}
body{
    background-color: #9FBDF2;
}
ul{
    list-style: none;
}
nav{
    width: 100%;
    background-color: black; 
    background-image: url(imagenes/002f0825-efc1-489c-83cc-6a396b94ad08.jfif);
    background-repeat: no-repeat;
    background-size: 100px;
    margin-bottom: 10px;
    padding-left: 100px;
    height: 100px;
}
nav li a{
    color:#9FBDF2;
    text-decoration: none;
    display: block;
    padding: 10px 15px;
    margin-top: 30px;
}
nav li a:hover{
    color: #3B4346;
}
nav > ul > li{
    float: left;
}
li:hover > ul{
    display: block;
    color: #9FBDF2;
    top: 99px;
    background-color: black;
}
#Contenido div{
    border: 1px solid #3B4346;
    border-radius: 10px;
    padding: 10px;
    overflow: auto;
    height: 150px;
}
div{
    margin: 10px;
}
h3{
    background-image: url(imagenes/16363.png);
    background-size: 10px;
    background-repeat: no-repeat;
    background-position-y: 5px;
    padding-left: 15px;
}
#Contenido p{
    background-color: white;
    border: 1px solid black;
    height: 50px;
    overflow: auto;
    padding: 5px;
    border-radius: 10px;
}
fieldset{
    padding: 10px;
    width: 450px;
}
#ReseñaTexto{
    width: 240px;
    height: 100px;
    overflow: auto;
}
.clearfix{
    clear: both;
} 